.modal-background {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
}

.modal {
	top: 5%;
	left: 50%;
	width: 24em;
	height: 90%;
	margin-left: -12em;
	padding: 0 1em 0 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	position: absolute;
	z-index: 101;
	color: var(--color-light-1);
	background: var(--color-black);
}

.modal h1 {
	padding: 0.5em;
	font-size: 1.6em;
}

@media screen and (max-width: 799px) {
	.modal-background {
		display: none;
	}

	.modal {
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
}
