@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none; 
	-ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
}

*::-webkit-scrollbar {
	display: none;
}

.selectable {
	user-select: all;
	-ms-user-select: all;
	-moz-user-select: all;
	-webkit-user-select: all;
}

html, body {
	font-family: system-ui;
	touch-action: none;
	overflow: hidden;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--color-light-1);
}

h1 {
	padding: 0.7em;
	font-size: 1.6em;
}

hr {
	border: var(--color-hr);
}

.flex {
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.square {
	min-width: 40px;
	min-height: 40px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 3px;
	color: var(--color-content-2);
}

.header {
	width: 100%;
	min-height: 4em;
	max-height: 4em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	flex-direction: row;
	overflow: hidden;
	color: var(--color-content-2);
	background: var(--color-background-1);
}

.content {
	width: 100%;
	height: inherit;
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
	color: var(--color-content-2);
	background: var(--color-background-1);
}

.footer {
	width: 100%;
	min-height: 50px;
	max-height: 50px;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-direction: row;
	align-items: center;
	color: var(--color-content-2);
	background: var(--color-background-1);
}

.info {
	width: 100%;
	margin: 2em 0 1em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.desc {
	min-width: 30%;
	max-width: 30%;
	margin: 0.1em;
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-end;
	color: var(--color-content-3);
	background: var(--color-background-5);
}

.val {
	min-width: 60%;
	max-width: 60%;
	margin: 0.1em;
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-start;
	color: var(--color-content-2);
	background: var(--color-background-2);
	word-break: break-all;
}

.hide {
	display: none;
}

.show {}

.clear {
	clear: both;
}

.menu {
	width: 300px;
	height: 100%;
	position: absolute;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	transform: translateX(-300px);
	font-family: Consolas, Courier, sans-serif;
	color: var(--color-content-2);
	background: var(--color-background-1);
	z-index: 100;
}

.showMenu {
	animation: showMenu 0.25s linear forwards;
}

.hideMenu {
	animation: hideMenu 0.25s linear forwards;
}

@keyframes showMenu {
	from { transform : translateX(-300px) }
	to { transform : translateX(0) }
}

@keyframes hideMenu {
	from { transform : translateX(0) }
	to { transform : translateX(-300px) }

}

.nav {
	margin: 0.7em 0 0 0;
}

.nav i {
	margin: 0 0.8em 0 0.3em;
}

.nav m {
	font-size: 1.2em;
	margin: 0 0.8em 0 0;
	float: right;
}

.nav li {
	margin: 0 0.5em 0 0;
	padding: 0.5em;
	font-size: 1em;
	line-height: 2em;
	list-style: none;
	text-decoration: none;
	border-radius: 0 50px 50px 0;
}

.nav li:hover {
	background: var(--color-background-4);
}

.nav li:active {
	color: var(--color-content-1);
	background: var(--color-background-6);
}

.shade {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	z-index: 98;
}

.wraper {
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-direction: row;
}

.modalContact {
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
	padding: 1em;
	display: flex;
	position: absolute;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
	background-color: var(--color-background-1);
	border: 2px dashed var(--color-background-2);
	border-radius: 10px;
	z-index: 100;
}

.left, .right {
	min-width: 320px;
	max-width: 25%;
}

.center {
	width: 100%;
}

.left, .right, .center {
	height: 100%;
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
	flex-direction: column;
	-ms-overflow-style: none;
	scrollbar-width: none;
	color: var(--color-content-2);
	background: var(--color-background-1);
}

.left {
	border-right: 2px dashed var(--color-background-7);
}

.right {
	border-left: 2px dashed var(--color-background-7);
}

.search {
	width: 100%;
	height: 40px;
	margin: 0 5px 0 0;
	padding: 0 3px 0 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 50px;
	background-color: var(--color-background-3);
}

.search-line {
	height: 100%;
	padding: 0.5em 3px 0.5em 0.5em;
	display: flex;
	flex-grow: 1;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.search-line input[type=text] {
	width: 0.1em;
	height: 100%;
	flex-grow: 1;
	border: none;
	outline: none;
	font-size: 1em;
	margin: 0 0.5em 0 0.5em;
}

.leftItem {
	margin: 1px 0 1px 0;
	padding: 10px 0 10px 0;
	cursor: pointer;
	display: grid;
	align-items: center;
	grid-template-columns: 70px auto;
	background: var(--color-background-2);
}

.leftItem:hover {
	background: var(--color-background-4);
}

.leftItem:active {
	background: var(--color-background-6);
}

.avatar {
	width: 50px;
	height: 50px;
	margin: 0 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: var(--color-background-3);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.avatar img {
	display: block;
	width: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.leftItemInfo {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.leftItemInfoTop {
	display: grid;
	grid-template-columns: auto 50px;
}

.leftItemInfoBottom {
	display: grid;
	grid-template-columns: auto 50px;
}

.leftItemInfoName,
.leftItemInfoText {
	padding: 0 10px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.leftItemInfoTime,
.leftItemInfoCounter {
	padding: 0 10px 0 0;
	text-align: right;
}





.topChat {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 60px auto;
}

.avatarChat {
	width: 40px;
	height: 40px;
	margin: 0 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: var(--color-background-3);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.avatarTopChatInfo img {
	display: block;
	width: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.topChatInfo {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.topChatInfoName,
.topChatInfoText {
	padding: 0 10px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
















.chatReadArea {
	width: 100%;
	max-width: 500px;
}

.message {
	min-width: 60px;
	max-width: 440px;
	margin: 10px;
	padding: 10px 10px 14px 10px;
	border-radius: 10px;
	display: block;
	position: relative;
	overflow-wrap: break-word;
}

.messagesDate {
	text-align: center;
	clear: both;
	color: grey;
}

.outgoingMessage {
	float: right;
	clear: both;
	background-color: var(--color-background-5);
}

.incomingMessage {
	float: left;
	clear: both;
	background-color: var(--color-background-2);
}

.leftMessageTime,
.rightMessageTime {
	bottom: 2px;
	position: absolute;
	font-size: 0.8em;
	color: grey;
}
.leftMessageTime { left: 10px; }
.rightMessageTime { right: 10px; }












.chatInputArea {
	width: 100%;
	max-width: 500px;
	padding: 0 0 0 10px;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.messageInputLine {
	height: 40px;
	display: flex;
	flex-grow: 1;
	align-items: center;
	flex-direction: row;
	border-radius: 50px;
	padding: 0.5em;
	justify-content: space-between;
	background: var(--color-background-3);
}

.messageInputLine input[type=text] {
	width: 0.1em;
	height: 100%;
	margin: 0 0.5em 0 0.5em;
	flex-grow: 1;
	border: none;
	outline: none;
	font-size: 1em;
	color: var(--color-content-1);
	background: var(--color-background-3);
}








.select { 
	display: block; 
	font-size: 16px; 
	font-family: sans-serif; 
	font-weight: 700; 
	color: #444; 
	line-height: 1.3; 
	padding: .6em 1.4em .5em .8em; width: 100%; 
	max-width: 250px; 
	box-sizing: border-box; 
	margin: 0; 
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff; 
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%; 
} 
.select::-ms-expand {
	display: none;
} 
.select:hover {
	border-color: #888;
} 
.select:focus {
	border-color: #aaa; 
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring; 
	color: #222;
	outline: none; 
} 
.select option {
	font-weight:normal;
} 
*[dir="rtl"] .select, :root:lang(ar) .select, :root:lang(iw) .select {
	background-position: left .7em top 50%, 0 0; 
	padding: .6em .8em .5em 1.4em; 
}





.input-container {
	position: relative;
	margin: 1em;
}
.input-container label {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 16px;
	color: #fff;
	pointer-event: none;
	transition: all 0.5s ease-in-out;
}
.input-container input {
	border: 0;
	border-bottom: 1px solid #555;
	background: transparent;
	width: 100%;
	padding: 8px 0 5px 0;
	font-size: 16px;
	color: #fff;
}
.input-container input:focus {
	border: none;
	outline: none;
	color: #fff;
	border-bottom: 1px solid red;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label {
	top: -12px;
	font-size: 12px;
}
































.tools {
	width: 100%;
	max-width: 500px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.item {
	width: 33%;
	padding: 0.7em;
	cursor: pointer;
	float: left;
	display: block;
}

.item:hover {
	background-color: var(--color-menu-background);
}

.item:active {
	background-color: var(--color-link-active-background);
}

.item h3 {
	color: var(--color-light-1);
}
/*
input {
	flex-grow: 1;
	border: none;
	outline: none;
	font-size: 1em;
	color: var(--color-light-1);
	background: var(--color-background);
}

input:focus {
	color: var(--color-light-1);
}
*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444750;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--color-slider);
	-webkit-transition: .4s;
	transition: .4s;
}
/*
input:checked + .slider {
	background-color: #dce0f9;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
*/
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.cyberpunk {
	font-family: "Cyberpunk";
	font-size: 1.4em;
	color: var(--color-content-1);
}

.neuropol {
	font-family: "Neuropol";
}

@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: "Neuropol";
	src:	url("/home/jebance/git/NewZone/assets/fonts/Neuropol.otf");
	src:	url("/home/jebance/git/NewZone/assets/fonts/Neuropol.woff") format("woff"),
			url("/home/jebance/git/NewZone/assets/fonts/Neuropol.ttf") format("truetype");
}

@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: "Cyberpunk";
	src:	url("/home/jebance/git/NewZone/assets/fonts/Cyberpunk.otf");
	src:	url("/home/jebance/git/NewZone/assets/fonts/Cyberpunk.woff") format("woff"),
			url("/home/jebance/git/NewZone/assets/fonts/Cyberpunk.ttf") format("truetype");
}

@media screen and (max-width: 799px) {
	.left {
		min-width: 100%;
		border: none;
	}

	.modalContact {
		top: 100%;
		left: 0;
		width: 100%;
		height: 300px;
		margin-top: -300px;
		margin-left: 0;
		padding: 1em;
		display: flex;
		position: absolute;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		background-color: var(--color-menu-background);
		border-radius: 0;
		border: none;
		z-index: 100;
	}

}

@media screen and (max-width: 1000px) {
	.right {
		display: none;
	}

}
